.root {
	-fx-background-size: 1200px;
    -fx-background-repeat: repeat;
    -fx-background-position: center;
    -fx-background-color: linear-gradient(from 0% 50% to 100% 50%, rgba(96, 96, 96,1), rgba(244,244,244,0));
	-fx-background-image: url(fundo.jpg);
}

.material-card{
	-fx-background-color: linear-gradient(#eeeeee 0%,#eeeeee 20%,#eeeeee 100%);
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
	-fx-background-radius: 10;
}


.material-card-lateral{	
	-fx-background-color: linear-gradient(rgb(38, 38, 38, 0.8) 0%,rgb(38, 38, 38, 0.8) 20%,rgb(38, 38, 38, 0.8) 100%);
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}

.material-card-centro{
	-fx-background-color: linear-gradient(#252a48 0%,#252a48 20%,#252a48 100%);
	-fx-background-radius: 10;   
}

.material-card-image{
	-fx-background-color: linear-gradient(#656b9e 0%,#656b9e 20%,#656b9e 100%);
	-fx-background-image: url('baseline_category_white_48dp.png');
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius:2;
}

.material-card-label-principal{
	-fx-font-size: 15px;
    -fx-text-fill: #0d0d0d;
    -fx-font-family: "Roboto";
}

.material-card-label-secundario{
	-fx-font-size: 14px;
    -fx-text-fill: #5e5e5e;
    -fx-font-family: "Roboto";
    -fx-border-width: 5 ; 

}

.material-textfield{	
	-fx-background-color: linear-gradient(rgb(38, 38, 38, 0.8) 0%,rgb(38, 38, 38, 0.8) 20%,rgb(38, 38, 38, 0.8) 100%);
	-fx-text-fill: #eeeeee;
	-fx-background-radius: 20;
}

.material-textfield-transparent{	
	-fx-background-color: transparent;
	-fx-text-fill: #eeeeee;
    -fx-border-width: 2px;
    -fx-border-color:  rgba(0, 0, 0, 0.3); 
}

.material-button-search{
	-fx-background-color: transparent;
	-fx-background-image: url('search_FILL0_wght400_GRAD0_opsz24.png');
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-background-radius:2;
}

.material-button-add{
	-fx-background-color: transparent;
	-fx-background-image: url('add.png');
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-background-radius:2;
}

.material-button-eliminar{
	-fx-background-color: transparent;
	-fx-border-width: 0,0,1,0;
	-fx-text-fill : #9c0808;
}

.material-card-produtos{
	-fx-background-insets: 0, 0 0 1 0 ;
	-fx-background-color: linear-gradient(rgb(101, 107, 158,.4) 0%,rgb(101, 107, 158,.4) 20%,rgb(101, 107, 158,.4) 100%);
	-fx-background-radius: 1;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}

.material-card-produtos-label{
	-fx-font-size: 16px;
    -fx-text-fill: #0d0d0d;
    -fx-font-family: "Roboto";
}


/*Menu Finalizar*/

.material-button-finalizar{
	-fx-background-color: transparent;
	-fx-background-image: url('finalizar.png');
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10%;
    -fx-background-radius:2;
}

.material-button-detalhe-venda{
	-fx-background-color: transparent;
	-fx-background-image: url('carrinho.png');
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10%;
    -fx-background-radius:2;
}

.material-button-configuracao{
	-fx-background-color: transparent;
	-fx-background-image: url('baseline_build_white_48dp.png');
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10%;
    -fx-background-radius:2;
}



.text-material{
	-fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0; 
}
.card-secundario{
	-fx-background-color: linear-gradient(#bdbdbd 0%,#bdbdbd 20%,#bdbdbd 100%);
}

.button-ferramentas{
	-fx-background-color: transparent;
	-fx-background-image: url('tool.png');
	 -fx-background-size: 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
}
.button-ferramentas:hover{
	-fx-scale-x: 1.1;
	-fx-scale-y: 1.1;
}

.lado{
	-fx-background-color: linear-gradient(#244b6a 0%, #244b6a 20%, #244b6a 100%);
}

.button:over{
	-fx-scale:110;
}
.text-field{
	-fx-border-width: 0,0,0,0;
}
.label-mensagem{
	-fx-font-size: 12px;
    -fx-text-fill: #F5F5F5;
}
.text-configuracao{
	-fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0; 
}

.button-done{
	-fx-background-color:
        linear-gradient(#00253d 0%, #00253d 20%, #00253d 100%);
	-fx-background-image: url('done.png');
    -fx-background-radius: 90; 
	 -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}

.button-done:hover{
	-fx-scale-x: 1.1;
	-fx-scale-y: 1.1;
}

